/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, aside, footer {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Header styles */
header {
    background-color: #372549;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo {
   display: flex;
   float: left;
   align-items: flex-start;
}

.logo picture {
    display: flex;
  }

.logo {
    font-size: 24px;
    font-weight: bold;
    align-items: left; 
}

nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: right;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content Area styles */
main {
    display: flex;
}

.feed {
    flex-grow: 2;
}

.post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.post-content {
    flex-grow: 1;
}

.media {
    margin-top: 10px;
}

.interactions button {
    margin-right: 10px;
}

/* Sidebar styles */
aside {
    flex-basis: 300px;
    margin-left: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}